source ~/.vimrc

nnoremap gd :action GotoDeclaration<CR>
nnoremap gb :action Back<CR>

nnoremap <Space>w :w<CR>
nnoremap <Space>q :q<CR>

nnoremap <Space>e :action SearchEverywhere<CR>
nnoremap <Space>g :action FindInPath<CR>
nnoremap <Space>s :action FileStructurePopup<CR>

nnoremap <Space>f :action Javascript.Linters.EsLint.Fix<CR>

nnoremap <C-o>- :split<CR>
nnoremap <C-o>l :vsplit<CR>

nnoremap <C-j> :action PreviousTab<CR>
nnoremap <C-k> :action NextTab<CR>
nnoremap <C-h> :action PrevSplitter<CR>
nnoremap <C-l> :action NextSplitter<CR>

