"#########################
" REQUIREMENTS PLUGINS
" * AceJump
" * Tab Shifter
"#########################

source ~/.vimrc

" Shift+j join string literal
set ideajoin

" Share clipboad
set clipboard+=unnamed

" Vim emulations
set surround
set multiple-cursors
set commentary
set ReplaceWithRegister
set highlightedyank
set NERDTree

" multiple-cursors
map <C-M>  <A-N>
map <C-P>  <A-P>
map <C-X>  <A-X>
map g<C-M> g<A-N>

" ### Jump
nnoremap gd :action GotoDeclaration<CR>
nnoremap gb :action Back<CR>

nnoremap <C-o><C-j> :NERDTree<CR>

" (depends on `AceJump` plugin)
nnoremap gf :action AceAction<CR>

" ### File control
nnoremap <Space>w :w<CR>
nnoremap <Space>q :q<CR>

" ### Tab control
" Split tab
nnoremap <C-o>- :split<CR>
nnoremap <C-o>\| :vsplit<CR>

" Move tab (depends on `Tab Shifter` plugin)
nnoremap <C-o><C-l> :action TabShiftActions.ShiftRight<CR>
nnoremap <C-o><C-h> :action TabShiftActions.ShiftLeft<CR>

" Navigate tab
nnoremap <C-j> :action PreviousTab<CR>
nnoremap <C-k> :action NextTab<CR>
nnoremap <C-h> :action PrevSplitter<CR>
nnoremap <C-l> :action NextSplitter<CR>

" ### Find
nnoremap <C-o><C-e> :action SearchEverywhere<CR>
nnoremap <C-o><C-f> :action GotoFile<CR>
nnoremap <C-o><C-g> :action FindInPath<CR>

"#########################
" Language Specific
"#########################

" ### JS

" Lint
nnoremap <Space>f :action Javascript.Linters.EsLint.Fix<CR>

